################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApplicationLog/FileContentIndex
/ServiceA/bin/Debug/net6.0
/ServiceA/obj
/ServiceB/obj/Debug/net6.0
/ServiceB/obj
/ServiceB/bin/Debug/net6.0
